@media (max-width:360px){
    .main-frame{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        position:absolute;
        width: 100wh;
        height:100vh;
        margin: 0px;
        padding: 0px;
    }
    .sub-frame{
        display:flex;
        flex-direction: row;
        position:static;
        width: 375px;
        height: 313px;
        justify-content: space-around;
        padding: 8px;
    }
    .recipe-frame{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding:8px;
        position: relative;
    }
    .user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        height: 40px;
        left: 8px;
        top: 249px;
    }
    .name-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left:10px;
    }
    #user-img{
        position: static;
        width: 32px;
        height: 32px;
      }
    .recipe-title {
        position: static;
        width:163.5px;
        height: 54px;
        font-family: recoleta;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.023em;
        color: black;
        margin-top:-2px;
    }
    .user-name{
     position: relative;
        font-family: cera pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        top:10px;
        color: black;
    }
    .reviews{
       display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        bottom: 10px;
    }
    #recipe-img{
        position: static;
        width: 163.5px;
        height: 171px;
        left: 8px;
        top: 8px;
        position: relative;
    }
    .recipe-frame .hearticon{
        position: absolute;
        width: 32px;
        height: 32px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
        right: 7px;
        top: 140px;
    }
    }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 h2{
     position: relative;
     right: 2.2rem;
    padding-top:  30px; ;
} 
.h2-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    position: relative;
    top: 5px;
    border: .1px solid #E1E2E3;
    padding: 5px;
}
.bet{
    position: relative;
    left: 1rem;
    top: -.2rem;
    font-size: 2rem;
}
.Filter{
    padding-left:15px;
    position: relative;
    top:8px
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 40px;
    top:8px;
}
li{
    list-style-type: none;
    padding-right: 24px;
}
.fa-chevron-right{
    position: relative;
    top: 1rem;
    left: 1.4rem;
}
.fa-sliders-v{
    position: relative;
    left: .5rem;
    top: .5rem;
}
.li{
    color: #ff8527;
}
a{
    text-decoration: none;
    color: black;
}
