*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 h2{
     position: relative;
     right: 2.2rem;
    padding-top:  30px; ;
    
} 
.h2-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6.5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 36rem;
    align-content: space-between;
    position: relative;
    top: 5px;
    border: .1px solid #E1E2E3;
    padding: 5px;
}
.bet{
    position: relative;
    left: 1rem;
    top: -.2rem;
    font-size: 2rem;
}
.Filter{
    padding-left:15px;
    position: relative;
    top:8px
}
ul{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    position: relative;
    left: 40px;
    top:8px;
}
li{
    list-style-type: none;
    padding-right: 24px;
}
.fa-chevron-right{
    position: relative;
    top: 1rem;
    left: 1.4rem;
}
.fa-sliders-v{
    position: relative;
    left: .5rem;
    top: .5rem;
}
.li{
    color: #ff8527;
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (min-width:1024px) {
    h2{
        right: 5.5rem;
        font-size: 3rem;
    }
    ul{
        left:0rem;
    }
    .navbar{
        width: 62rem;
        position: relative;
        left: 3rem;
}
    }
    .Filter{
        right: 0rem
    }
    .fa-sliders-v{
        left: 8rem;
    }
    .bet{
        left: 0rem;
    }
    .fa-chevron-right{
        left: 7rem;
    position: relative;
    }
}
@media (min-width:767px) and (max-width:1023px) {
    h2{
        /* right: 10rem; */
        font-size: 3rem;
        position: relative; 
        right: 5rem;
    }
    ul{
        left: 0rem
    }
    .navbar{
        width: 47rem;
    }
    .Filter{
        right: 1rem
    }
    .fa-sliders-v{
        left: 2rem;
    }
    .bet{
        left: -1rem;
    }
    .fa-chevron-right{
        left: 7rem;
    position: relative;
    }
}