@media (max-width: 360px) {
  body {
    background-image: url('img/background.png');
    background-repeat: no-repeat;
  }
  .avatar {
    border-radius: 50%;
    position: absolute;
    top: 212px;
    left: 132px;
    z-index: 2;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 300px;
    right: -45px;
    z-index: 1;
    border-radius: 16px;
    padding: 20px 0px 16px;
    width: 343px;
    height: 172px;
  }
  h2 {
    font-family: cera Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
  }
  p {
    font-family: "Cera Pro";
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
  }
  .img1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 4%;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
  .img2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 96%;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
}



/*desktop*/
@media (max-width: 1024px) and (min-width: 769px) {
  body {
    background-image: url('img/background1.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
  .avatar {
    border-radius: 50%;
    position: absolute;
    top: 313px;
    left: 44%;
    z-index: 2;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 389px;
    right: 341px;
    z-index: 1;
    border-radius: 16px;
    padding: 20px 0px 16px;
    width: 343px;
    height: 172px;
  }
  h2 {
    font-family: cera Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
  }
  p {
    font-family: "Cera Pro";
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
  }
  .cover .img1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 16px;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
 .cover .img2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 952px;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
}
/*tablet*/

@media (max-width: 768px ) and (min-width: 361px){
  body {
    background-image: url('img/background1.png');
    background-repeat: no-repeat;
  }
  .avatar {
    border-radius: 50%;
    position: absolute;
    top: 212px;
    left: 44%;
    z-index: 2;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 300px;
    right: 198px;
    z-index: 1;
    border-radius: 16px;
    padding: 20px 0px 16px;
    width: 343px;
    height: 172px;
  }
  h2 {
    font-family: cera Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
  }
  p {
    font-family: "Cera Pro";
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
  }
  .cover .img1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 16px;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
 .cover .img2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 688px;
    top: 60.09px;
    background: #ffffff;
    border-radius: 100px;
  }
}
