body{
    margin: 0px;
    padding:0px ;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
header{
    height: 20rem;
    /* background-image: url(img/Rectangle13.png); */
}
.backgroundNew{
    height:31vh;
    width: 89vw;
    position: relative;
    left:1.5rem;
  
}
.icons{
    position: relative; 
    right: 10rem;
    display: flex;
    flex-direction: row;
}
.avater-sec{
    position: absolute;
    top: 11rem;
    left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-between; */
    align-items: center;
    background-color: white;
    width: 78%;
    border-radius: 13%;
}
.avatar{
    position: relative;
    bottom: 3rem;
}
.profile-details{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.followers{
    position: relative;
    bottom: 3rem;
    left: 1.4rem;
}


.Rajin{
    position: relative;
    bottom: 2rem;
}


/*--------------------------------------------*/
main{
    width: 90%;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

button{
    width: 50%;
    border: none;
    background-color: #ffffff;
    color: #c4c6ca;
    padding: .5rem;
    position: relative;
    top: 2rem;
}
button:hover{
    background-color:#ff8527 ;
    border-radius: 1.25rem;

}
.above-lemang{
    position: relative;
    top: 2.5rem;
}
hr{
    position: relative;
    bottom: 1rem;
}
.mai-bettwen-Bebek-and-Goreng{
    position: relative;
    bottom: 3rem;

}
i{
    position: relative;
    top: 1.3rem;
    left:1.2rem;
    font-size: 20px;
}
.fa-ellipsis-v-alt{
    position: relative;
    top: 1.3rem;
    left:2rem;
    font-size: 20px;

}
.under-Bebek-Goreng{
    position: relative;
    bottom: 5rem;
}
.aconnt-fram{
    position: relative;
    top: 2rem;
}
.main-article-Lemang-Ikan{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: rem;
}
img{
    height: 4rem;
    position: relative;
    top: 1rem;
    /* max-width: 5rem; */
    left: 0rem;
}
.icon-goreng{
    position: relative;
    left: 7rem;
}
.picture-Description {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: .5rem;
}
h2{
    
    position: relative;
    bottom: 1rem;
    font-size: 1rem;
    text-align: center
}
.Description-head{
    display: flex;
    flex-direction:row ;
}
h5{
    color: #9da0a7;
}
article{
    margin-bottom: 1rem;
}
.main-article-Mie-Goreng{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 2rem;
}
.main-article-Bebek-Goreng{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 4rem;
}
@media  screen and (min-width:1024px)  {
    .img{
        height: 5rem;
        position: relative;
         top: 0.9rem;
    /* width: 8rem; */
         left: 3rem;
    }
    article{
        margin-bottom: 1rem;
    }
    header{
        position: relative;
        /* left: 1rem; */
    }
    main{
        position: relative;
        left: 2rem;
    }
    .avater-sec{
        left: 6rem;
        position: absolute;
    }
    .Description-head{
        position: relative;
        left: 9rem;
    }
    .backgroundNew {
        height: 24vh;
        width: 48vw;
        position: relative;
        left: 13.5rem;
    }
}

@media  (min-width:768px) and (max-width:1023px) {
  main{
      width: 80%;
      height: 100vh;
      position: relative;
      left: 2rem;
  }
 header{
     display: flex;
     justify-content: center;
 }
 .avater-sec{
    left: 6rem;
    position: absolute;
 }
 .backgroundNew{
     left: 2.5rem;
 }
  .img{
     
    
    height: 5rem;
    position: relative;
    top: .5rem;
    /* width: 6rem; */
    left: 2rem;
}
article{
    margin-bottom: 1rem;

}
 .aconnt-fram{
     position: relative;
     left: 2rem;
 }
 .above-lemang{
     left: 2rem;
 }
      
   }
   .fa-chevron-circle-left{
    position: relative;
    left: -7rem;
    top: 3rem;
    font-size: 2rem;
    color: white;
}
.fa-heart-circle{
position: relative;
    left: 7rem;
    top: 3rem;
    font-size: 2rem;
    color: white;

}