@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Sen&display=swap');
*{
 margin: 0%;
padding: 0%;
 box-sizing:border-box;
}
.page-background{
    width:100%;
    position: absolute;
    top:0px;
    z-index: 0;
}

.page-background image{
    left: 0px;
    right: 0px;
    top: -9px;
    bottom: 441.4px;  
    width: 100%;
}
.name-app{
    min-height:50vh;
    min-width:58vh;
    width: 100vw;
    position: absolute;
    top:200px;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-app h4{
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 20px;  
}
.name-app p{
    font-family: 'Sen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    margin: 5px 0px;
    position: static;
    letter-spacing: 2.3%;
}
.phone-num{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    margin-top: 78%;
    z-index: 3;
    position: absolute;
    align-content: center;
}
.phone-input{
    display: flex;
    flex-direction: row;
    align-self: center;
    border: none;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #E1E2E3;
    margin: 10px 0px;
    border-radius: 8px;
    padding: 12px;
}
#tel-input{
    border-style: hidden;
    width: 100%;
}
.phone-input ::placeholder{
    font-family: 'Sen', sans-serif;
    color:rgba(182, 181, 181, 0.788);
    font-weight: 400;
    font-size: 12px;
    line-height:20.11px;
    margin: 0;
    text-align: center;
}
#phone-icon{
   width: 21%;
   height: 3vh;
   position: absolute;
}
#phone-submit{
    width: 90%;
    height: 10vh;
    align-self: center;
    box-sizing: border-box;
    padding: 14px;
    font-family: Cera Pro;
    font-size: 10px;
    color: white;
    background-color: #FF8527;
    border-radius: 6px;
    border-style: hidden;  
    font-family: 'Sen', sans-serif; 
}
/** responsive for disk top**/

@media only screen and (min-width: 1023px){
    .page-background{width: 100%;height:100vh; background-size: cover; }
    #background-header-img{
     width: 100%;
     margin:0px;
     height:100vh;
     
    }
    .name-app{
        min-height:50vh;
        min-width:58vh;
        width: 95vw;
        position: absolute;
        top:550px;
        border-radius: 40px 40px 0px 0px;
        left: 25px;
    }
    .phone-num{
        margin-top:45%;
        width: 70%;
        margin-left: 200px;
     }
     .name-app h4{
        font-size: 45px;
        margin: 25px 0 25px 0;
    }
    #phone-icon{
        width: 8%;
        height: 2.3vh;
     }
  }
  /** responsive for tablet**/

    @media screen and (min-width: 768px) and (max-width: 1023px) { 
        
        .page-background{width: 100%;height:40vh; background-size: cover; }
        #background-header-img{
         width: 100%;
         margin:0px;
         height:74.4vh;
        }
        .name-app{
            top:400px;
        }
        .name-app h4{
            font-size: 45px;
            margin: 25px 0 25px 0;

        }
        .phone-num{
           margin-top:65%;
        }
        #phone-icon{
            width: 10%;
            height: 2.5vh;
           
         }
} 

